# DSM Class 31st Jan, 2023
## Quick Coding Notes
### Written by: Anshuman Rath# DSM_31 Jan

# LOGICAL OPERATORS
1. AND
2. OR
3. NOT

In [3]:
not bool(0)    # not gives output as True/False

True

In [4]:
int(bool(0))

0

In [7]:
not 1000   # boolean value of any number other than 0 is True, not True = False

False

In [8]:
not -5.23

False

In [9]:
True * False  # 1 * 0 = 0

0

In [10]:
not False * True   # first it evaluates, False * True = 0 and then not 0 = True

True

In [11]:
not (False) * True   # same as above

True

In [13]:
(not(False)) * True  # first it evaluates not False = True (coz of brackets), and then True * True = 1

1

In [14]:
False * False == True

False

In [15]:
not False * True == True   # first it evaluates False * True = 0, then not 0 = True, True == True gives True as output

True

# EQUALITY OPERATORS

In [20]:
lst_a = [1,2,3,4]
lst_b = [1,2,3,4]

print(id(lst_a))  # gives memory address (identity) of lst_a
print(id(lst_b))  # gives memory address of lst_b

print(lst_a is lst_b) # is operator checks memory address, since lst_a and lst_b have different addresses, output is False
print(lst_a is not lst_b) # since both have different addresses, is not statement will return True

140702359873728
140702354955008
False
True

In [21]:
lst_b = lst_a
print(id(lst_a))  
print(id(lst_b))
# now both lists will have the same memory address

print(lst_a is lst_b) # hence now the output will be True

140702359873728
140702359873728
True

In [22]:
lst_c = [5,6,7,8]
lst_d = [5,6,7,8]
lst_c == lst_d   # == operator just checks the value stored and not the memory address

True

In [25]:
lst_a = [1,2,3,4]
lst_b = [1,2,3,4]
a = 5
b = 5
c = "car"
d = "car"
print(f"Address of lst_a is {id(lst_a)}") 
print(f"Address of lst_b is {id(lst_b)}")
print(f"Address of a is {id(a)}")
print(f"Address of b is {id(b)}") 
print(f"Address of c is {id(c)}")
print(f"Address of d is {id(d)}") 
# in case of lists, even though values are same they are assigned different addresses
# in case of int/float/strings etc, when values are same they are given the same address

Address of lst_a is 140702353225472
Address of lst_b is 140702352176832
Address of a is 140702844076400
Address of b is 140702844076400
Address of c is 140702357244592
Address of d is 140702357244592

In [33]:
# MUTABILITY

list_a = [1,2,3,4]

# we can easily replace any element from a list with another element
list_a[0] = 10  # this replaces 0th index of list_a (which is 1) with the value 10
print(list_a) # the list_a will now have 10,2,3,4
# hence lists are mutable (changeable)

[10, 2, 3, 4]

In [28]:
string_a = "Anshuman" # String is a collection of characters
print(string_a[0]) # Will return the character at 0th index which is A

A

In [29]:
string_a[0] = "I"
# Since Strings are IMMUTABLE, we cannot replace the characters (elements) like we did in list
# hence it will produce an error

TypeError: 'str' object does not support item assignment

In [30]:
# Summarising,
# Lists are MUTABLE
# Strings are not MUTABLE (or IMMUTABLE)

In [32]:
# However we can replace the String as a whole
string_a = "Anshuman"
string_a = "Krish"
print(string_a)

Krish

In [46]:
a = 100
b = 64

In [62]:
# COMPARISION OPERATORS

A = 25
B = 36
C = 25
print(A > B) # returns False
print(A < B) # returns True
print(A <= B) # <= means less than or equal to, hence result is True
print(A >= B) # >= means greater than or equal to, hence result is False
print(A == B) # returns False
print(A != B) # != means not equal to, hence result is True
print(A == C) # returns True
print(A >= C) # returns True
print(A != C) # returns False

False
True
True
False
False
True
True
True
False

# ARITHEMTIC OPERATORS

In [39]:
a+b # addition

164

In [40]:
a-b # subtraction

36

In [41]:
a*b # multiplication

6400

In [42]:
a/b # division

1.5625

In [45]:
a//b # // = integer division, it returns the quotient

1

In [44]:
a%b # % = modulo operator, it returns the remainder

36

In [48]:
# Printing Binary Values -
var = 10
bin(var)  #0b1010 -->0b means binary format, rest 1010 is the binary value of 10

'0b1010'

In [49]:
var2 = 5
bin(var2)

'0b101'

# STRINGS

In [51]:
msg = "Welcome to data science masters"
type(msg) # str (String) type

str

In [53]:
msg[0]  # Returns the 0th index character - W

'W'

In [54]:
msg[0] = "K"  # Since strings are immutable, you cannot replace a character

TypeError: 'str' object does not support item assignment

In [55]:
msg = "Welcome to web development course"
print(msg)
# You can change the String as a whole

Welcome to web development course

In [56]:
# To check inbuilt functions for a String -
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
msg1 = "Pw Skills Data Science"

In [58]:
# To access the letter 'w' 
msg1[1]  # w has index position 1 (P has index position 0)

'w'

In [68]:
msg1[1:]  # extracts all characters starting from index pos 1 till last

'w Skills Data Science'

In [61]:
msg1[1:10] # extracts characters from index pos 1 till index pos 10-1 (9)
# spaces are also included as characters and assigned index positions

'w Skills '

In [65]:
msg1[-1] # extracts the last character

'e'

In [66]:
msg1[-2] # extracts 2nd last character

'c'

In [67]:
msg1[-3:] # extracts last 3 characters

'nce'

In [69]:
msg1[:] # extracts all characters

'Pw Skills Data Science'

In [71]:
name = "Karthik"
name[-5:4]  # element with index pos -5 = r and element with index pos 4 = h
# hence all characters from r till the character (just before h) is extracted

'rt'

In [72]:
word = "Computer"

In [81]:
word[::-1] # reverses the String
# anything you write after '::' indicates step size
# since step size is -1, all characters (one by one) are displayed (in reverse)

'retupmoC'

In [79]:
word[::-2] # every 2nd element (starting fron last element "r") is displayed in reverse

'rtpo'

In [80]:
word[::2] # since step size is positive 2 here, the String won't be reversed
# step size 2 means every second element (starting from first element "C") will be displayed

'Cmue'

In [77]:
word[3::-1]
# first it will go to the letter at index position 3, which is p here (word = Computer)
# then since the step size is -1 (negative), it will reverse the String starting from the letter 'p'

'pmoC'

In [78]:
word[3::-2]
# first it will go to the letter at index position 3, which is p here (word = Computer)
# then since the step size is -2 (negative), it will print every 2nd element starting from 'p' in reverse

'po'

In [82]:
word1 = "Krish"
word1[3:1:-1]
# first it will go to the letter at index position 3, which is 's' here
# then it will go to the letter at index position 1, which is 'r' here
# since step size is -1 (negative), it will reverse the String starting from 's' till 'r' and exclude 'r'

'si'

QUESTION -
Given a String - course_name = "Data Science Masters"
Extract and print Science in forward and reverse order

In [87]:
# ANSWER -

course_name = "Data Science Masters"
print(course_name[5:12]) # to extract and print Science
print(course_name[11:4:-1]) # to extract and print Science in reverse

Science
ecneicS

In [88]:
course_name + "Course" # concatenation

'Data Science MastersCourse'

In [89]:
"cars" * 5 # prints cars for 5 times

'carscarscarscarscars'

In [90]:
word = "apple"
len(word)  # to display length of String

5

In [2]:
course_name = "Data Science Masters"
course_name.find("n")  # displays index position of the FIRST "n"

9

In [92]:
course_name.find("a")

1

In [96]:
course_name.find("t",2,10) # displays index position of the First "a" starting from characters with index position 2 till index position 10-1 (9)

2

In [98]:
course_name.find("z") # since "z" is not present, it prints -1

-1

In [3]:
course_name.count("a") # finds the number of times "a" is present in the String

3

In [4]:
course_name.count(" ") # find the number of spaces " " present in the String

2

In [8]:
course_name.count("a",1,3) # finds the number of times "a" is present in the String from index pos. to index pos. 3-1 (2)

1

In [10]:
# STRING SPLIT FUNCTION
course_name = "Data Science Masters"
course_name.split(" ") # " " works as a separator

['Data', 'Science', 'Masters']

In [11]:
course_name.split("S")

['Data ', 'cience Masters']

In [12]:
course_name.partition("S") # separates and displays the separator as well

('Data ', 'S', 'cience Masters')

In [13]:
# STRING UPPER AND LOWER CASES

word = "Web Development Course"

In [14]:
word.upper() # converts to upper case

'WEB DEVELOPMENT COURSE'

In [15]:
word.lower() # converts to lower case

'web development course'

In [16]:
word.swapcase() # swaps cases

'wEB dEVELOPMENT cOURSE'

In [17]:
name = "anshuman rath"
name.title() # makes first letter of each word to upper case

'Anshuman Rath'