# DSM Class 30th Jan, 2023
## Quick Coding Notes
### Written by: Anshuman Rath

In [1]:
'''
Dynamic Typing -
Dynamic typing means that the type of the variable is determined only during runtime.
You don't need to define data type, it is defined automatically by Compiler
'''

# Characters are stored as strings (str) in Python
type ('a')

str

## PRINT FUNCTION

In [6]:
'''
Print Statement - 
Prints the values to a stream, or to sys.stdout by default
sys.stdout â†’ output console
'''

print('Hello World')   # string can be enclosed within single quotes
print("Hello World") # string can also be enclosed within double quotes
print(123) # numbers need not be enclosed within quotes

Hello World
Hello World
123

In [11]:
age = 23
print("My age is:",age)

My age is: 23

In [4]:
print("My age is: {age}")   # {age} is considered as a part of string

My age is: {age}

In [9]:
# f string
print(f"My age is: {age}")   
# f is used for formatting purpose and the value stored in age is printed

My age is: 24

In [10]:
# In python indexing starts from 0
# In R indexing starts from 1

### FORMAT

In [15]:
# format relaces angular braces with values stored in variables given as input (in sequential manner)
name = "Anshuman"
age = 23
print("My age is {} and age is {}".format(name,age))
print("My name is {} and age is {}".format(age,name)) #since age is given as input first, value stored in age replaces the first angular brace followed by name

My age is Anshuman and age is 23
My name is 23 and age is Anshuman

In [17]:
# Placeholders

print("My name is {fname} and age is {fage}".format(fname=name,fage=age))
print("My name is {fname} and age is {fage}".format(fage=age,fname=name)) #sequencing isn't followed here as we have declared variables within braces

My name is Anshuman and age is 23
My name is Anshuman and age is 23

In [19]:
name = "Anshuman"
age = 23
degree = "MBBS"

# Output should be - My age is 23 and I am pursuing MBBS with the name of Anshuman

# Answer -->
# Using f format -->
print(f"My age is {age} and I am pursuing {degree} with the name of {name}")

# Using placeholders -->
print("My age is {fage} and I am pursuing {fdegree} with the name of {fname}".format(fname=name,fage=age,fdegree=degree))

My age is 23 and I am pursuing MBBS with the name of Anshuman
My age is 23 and I am pursuing MBBS with the name of Anshuman

# DECISION MAKING STATEMENTS

## if Statements

In [20]:
age = 18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [21]:
age = 18
if age<18:
    print("You are eligible to vote")
# nothing will be printed (as condition isn't satisfied)

In [22]:
# Giving input during runtime
input() # displays a prompt in runtime where you will need to input

 Anshuman Rath

'Anshuman Rath'

In [24]:
# default data type of input = string
name = input("Enter your name")
age = int(input("Enter your age")) # typecasting (to convert string to int)
print (f"Your name is {name} and your age is {age}")

Enter your name Anshuman
Enter your age 23

Your name is Anshuman and your age is 23

In [26]:
'''
Task - Take input of age
if age >= 18 and age <= 45, display message "Young Blood"
'''
# Answer ->
age = int(input("Enter you age:"))
if age >=18 and age <=45:
    print("Young Blood")

Enter you age: 23

Young Blood

## if else statement

In [27]:
age = int(input("Enter you age:"))
if age >=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you, we will let you know")

Enter you age: 23

You are young blood

In [28]:
age = int(input("Enter you age:"))
if age >=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you, we will let you know")

Enter you age: 50

Thank you, we will let you know

In [37]:
'''
Input product price
If product price > 1000 - 20% off
If product price <= 1000 - 10% off
Print final product price
'''
# Answer ->
prod_price = int(input("Enter product price:"))
if prod_price > 1000:
    print("The final product price is Rs. {}".format(prod_price*0.80))
else:
    print("The final product price is Rs. {}".format(prod_price*0.90))

Enter product price: 2000

The final product price is Rs. 1600.0

## if elif

In [47]:
'''
Input product price
product price > 3000 - 20% off
product price >= 2000 and <=3000 - 30% off
product price <2000 - 40% off 
Print final product price
'''

# Answer ->
prod_price = int(input("Enter product price:"))
if prod_price > 3000:
    print("The final product price is Rs. {}".format(prod_price*0.80))
elif prod_price >=2000 and prod_price <=3000:
    print("The final product price is Rs. {}".format(prod_price*0.70))
else:
    print("The final product price is Rs. {}".format(prod_price*0.60))
    

# Python will evaluate all three if statements to determine if they are true. 
# Once a condition in the if elif else statement is true, Python stop evaluating the other conditions. 
# Because of this, if elif else is faster than three if statements.

Enter product price: 3600

The final product price is Rs. 2880.0

In [ ]:
## Nested If

'''
Input product price
product price > 3000 - 20% off
product price = 4000 - Goa Trip
product price >= 2000 and <=3000 - 30% off
product price <2000 - 40% off 
Print final product price
'''
# Answer ->
prod_price = int(input("Enter product price:"))
if prod_price > 3000:
    if prod_price == 4000:  # nested if
        print("Congratulations for winning a trip to Goa")
    print("The final product price is Rs. {}".format(prod_price*0.80))
elif prod_price >=2000 and prod_price <=3000:
    print("The final product price is Rs. {}".format(prod_price*0.70))
else:
    print("The final product price is Rs. {}".format(prod_price*0.60))

In [51]:
## Single statement suites - if can be used in single line'
val = int(input("Enter a value:"))
if(val<999):print("Value is less than 999")

Enter a value: 676

Value is less than 999

## WHILE LOOP

In [56]:
joining_age = 52
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time to retire")

52
53
54
55
56
57
58
59
60
It's time to retire

In [58]:
# ATM Machine has Rs. 1000
# You withdraw Rs. 100 everytime
# Update and print remaining balances

total_amt = 1000
while total_amt != 0:
    total_amt = total_amt-100
    print(total_amt)
else:
    print("ATM Machine needs to be refilled now")

900
800
700
600
500
400
300
200
100
0
ATM Machine needs to be refilled now

### LISTS

In [62]:
lst = ["car","bus",1,2,3] # lists are enclosed within square brackets
type (lst) # to check data type of lst

list

In [63]:
print (lst) # to print elements inside a list

['car', 'bus', 1, 2, 3]

## FOR LOOP

In [64]:
for x in lst: # iterating through the collection (elements in the list)
    print(x)

car
bus
1
2
3

In [65]:
fruits = ["Mango","Apple","Cherry","Banana"]
for a in fruits:
    print(a)
    if a == "Cherry":
        print("You have reached at Cherry")

Mango
Apple
Cherry
You have reached at Cherry
Banana

In [66]:
fruit = 'mango' # String = a list of characters
for x in fruit:
    print(x) # prints characters present in the string

m
a
n
g
o

In [67]:
fruit = 'mango'
fruit[2] # character present in the 2nd index position of fruit

'n'

In [70]:
fruit = 'mango'
print(fruit [0])
print(fruit [1])
print(fruit [2])
print(fruit [3])
print(fruit [4])
# Indexing starts from 0
# 0th index = m
# 1st index = a
# 2nd index = n
# 3rd index = g
# 4th index = 0

m
a
n
g
o

## NESTED LOOPS

In [72]:
# range() - Return an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step
for i in range(1,6,2):
    print(i)
# includes 1
# excludes 6 (goes till 6-1)
# jumps (steps) by 2

1
3
5

In [73]:
n = 7
for i in range (0,n):
    for j in range(0,i+1):
        print("*",end="") # prints in one line
    print("\r") # goes to next line

# print("/r") - goes to next line
# print("/n") - adds a new line

*
**
***
****
*****
******
*******

In [83]:
# Assignment - Print equilateral triangle
# Answer -
n=6
for i in range(1, 8):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times
    n=n-1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

## BREAK, CONTINUE

In [85]:
# Given fruit list = Mango,Apple,Cherry,Banana
# Print fruit names
# Stop printing when you reach Cherry

fruits = ["Mango","Apple","Cherry","Banana"]
for i in fruits:
    print(i)
    if i == "Cherry":
        print("You have reached at Cherry")
        break  # comes out of loop

Mango
Apple
Cherry
You have reached at Cherry

In [87]:
# Given fruit list = Mango,Apple,Cherry,Banana
# Print fruit names
# Skip Apple

fruits = ["Mango","Apple","Cherry","Banana"]
for i in fruits:
    if i == "Apple":
        continue # skips when condition is satisfied
    print(i)

Mango
Cherry
Banana

In [88]:
# Break - stops loop
# Continue - skips