# DSM Class 1st Feb, 2023
## Quick Coding Notes
### Written by: Anshuman Rath# DSM_1st Feb

In [1]:
name = "Data science masters"
name.swapcase() # swaps case

'dATA SCIENCE MASTERS'

In [2]:
name.title() # changes first letter of each word to Upper Case

'Data Science Masters'

In [3]:
msg = "hello Everyone"
msg.capitalize() # makes only first letter capital

'Hello everyone'

In [4]:
msg = "hello"
reversed(msg) # reverses the string and displays the address where it stores the reversed string

In [8]:
"".join(reversed(msg)) # to display the stored reversed string

'olleh'

In [13]:
"Krish".join("Naik") # takes all items in an iterable and joins them into one string
# every character of "Naik" is tryng to get concatenated with "Krish"

'NKrishaKrishiKrishk'

In [10]:
" ".join("abcd")

'a b c d'

In [12]:
" ".join(reversed("ant")) 
# "ant" will get reversed to "tna" and every character of "tna" will concatenate with " "

't n a'

In [15]:
" PWSkills ".join(reversed("ant"))

't PWSkills n PWSkills a'

In [17]:
list(reversed("ant")) # an example of typecasting
# generates list of characters in reverse order

['t', 'n', 'a']

In [18]:
# REMOVING CHARACTERS FROM THE END OF THE STRING

In [30]:
string_a = " pw skills "
string_a.strip() # remove the whitespace from the beginning and at the end of the string

'pw skills'

In [25]:
string_b = "chelloc"
string_b.strip("c") 
# can also remove the given characters from the beginning and the end of the original string

'hello'

In [29]:
string_c = "  Hello everyone "
string_c.lstrip() # removes leading (left) white spaces

'Hello everyone '

In [28]:
string_c = "  Hello everyone "
string_c.rstrip() # removes trailing (right) white spaces

'  Hello everyone'

In [31]:
string_n = "Greeting to PW Skill"
string_n.replace("to","from")
# replaces one String (specified initially) with another String (specified later)

'Greeting from PW Skill'

In [32]:
"hello \t world" # \t is considered as a part of the String

'hello \t world'

In [33]:
"hello \t world".expandtabs() # \t is considered as tab space

'hello    world'

In [35]:
str1 = "Welcome to pwskills.Welcome to Dat cience Masters"
# Replace Dat with Data and cience with Science
# Answer -
str1.replace("Dat","Data").replace("cience","Science")

'Welcome to pwskills.Welcome to Data Science Masters'

In [1]:
str1 = "Cars"
str1.isupper() # returns True if String is in Upper Case

False

In [2]:
str2 = "BUS"
str2.isupper()

True

In [3]:
str3 = "hello"
str3.islower() # returns True if String is in Lower Case

True

In [5]:
str4 = " Hi everyone "
str4.isspace() # returns True if String has spaces only

False

In [6]:
str5 = "   "
str5.isspace()

True

In [7]:
str6 = "Anshuman"
str6.endswith("n") # returns True if String ends with specified character

True

In [8]:
a = "abcd1234"
a.isalnum() # returns True if String has alphanumeric characters

True

In [10]:
# To count number of characters in a String using For Loop

string = "hello"
count = 0
for i in string:
    count=count+1
print(count)

5

In [11]:
# To display all letters in a String

string = "hello"
for i in string:
    print(i)

h
e
l
l
o

In [14]:
# To display all letters in a String w.r.t. indices

string = "hello"
for i in range(len(string)):
    print(i,"=",string[i])

0 = h
1 = e
2 = l
3 = l
4 = o

In [18]:
# To display all letters in a String in reverse

string = "hello"
for i in range(len(string)-1,-1,-1): # last index (len(string)-1) to -1 in reverse order (-1 = stepsize)
    print(string[i])

o
l
l
e
h

In [17]:
# To display all letters in a String in reverse using while loop

ch = len(string)-1
while ch >=0:
    print(string[ch])
    ch=ch-1

o
l
l
e
h

In [19]:
# To display all letters in a String in reverse (another solution)

for i in range(len(string)):
    print(string[len(string)-(i+1)])

o
l
l
e
h

In [21]:
# Check if characters in String name are vowels or not

name = "pwskills"
vowels = "AaEeIiOoUu"
for ch in name:
    if ch in vowels:
        print(f"{ch} is a vowel")
    else:
        print(f"{ch} is not a vowel")

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

# LISTS

In [22]:
a = ["Krish", "Naik", 2, 3]
type (a)

list

In [23]:
str1 = "hello"
list(str1) # since list is iterable, here it will display all characters in the String

['h', 'e', 'l', 'l', 'o']

In [25]:
str2 = "PW Skills Data Science Masters Class"
list(str2.split(" ")) # will remove (split) the specified characters (" ")

['PW', 'Skills', 'Data', 'Science', 'Masters', 'Class']

In [26]:
str2.split(" ") # will also give the same output as the above (in List)
# this means the return type of split() is also list

['PW', 'Skills', 'Data', 'Science', 'Masters', 'Class']

In [28]:
list1 = ["pw","skills","data","science",1,2]
list1[0] # to access the element in list present in specified index

'pw'

In [41]:
lst1 = ["pw","skills","data","science","masters"]
lst1[::-2] # same functionality as string, this returns every 2nd element starting from last index in reverse

['masters', 'data', 'pw']

In [34]:
lst1 = ["pw","skills","data","science","masters"]
lst1[-3::-2] # returns every 2nd element starting from -3 index ("data") in reverse

['data', 'pw']

In [40]:
lst1 = ["pw","skills","data","science","masters"]
lst1[-2:-4:-2] # returns every 2nd element starting from -3 index ("data") to index -4 (excluding index -4)

['science']

In [42]:
# CONCATENATION OF LISTS

In [43]:
lst1 = ["pw","skills","data","science","masters"]
lst1 + ["class",23]

['pw', 'skills', 'data', 'science', 'masters', 'class', 23]

In [45]:
lst1 = ["pw","skills","data","science","masters"]
lst1 + [["class",23]]  # multi nested list (double sq brackets) - list within a list

['pw', 'skills', 'data', 'science', 'masters', ['class', 23]]

In [48]:
lst1 = ["pw","skills","data","science","masters"]
lst2 = lst1 + [["class",23]]
print(lst2)

['pw', 'skills', 'data', 'science', 'masters', ['class', 23]]

In [52]:
# Suppose I want to print ['class', 23] from lst2

print(lst2[5])

['class', 23]

In [53]:
# Suppose I want to print only ['class'] from lst2

print(lst2[5][0]) # class is in the 0th index of the multi nested list - ["class",2]

class

In [55]:
print(lst2*2) # repeats list for 2 times

['pw', 'skills', 'data', 'science', 'masters', ['class', 23], 'pw', 'skills', 'data', 'science', 'masters', ['class', 23]]

In [56]:
lst1 = ["pw","skills","data","science","masters"]
for element in lst1:
    print(element)

pw
skills
data
science
masters

In [57]:
# check if science is present in lst1

if "science" in lst1:
    print("Present")

Present

In [60]:
# check elements in a list

lst = [1,2,3,4]
print(4 in lst) # returns True
print(5 in lst) # returns False

True
False

In [66]:
lst1 = ["Monkey", "Zebra", "Donkey", "Lion"]
print(max(lst1))  # returns and prints the alphabetically highest value (using the concept of ASCII)
print(min(lst1))  # returns and prints the alphabetically lowest value (using the concept of ASCII)

Zebra
Donkey

In [67]:
lst2 = [1,3,2,9,8,6]
print(max(lst2)) # returns and print the max value
print(min(lst2)) # returns and print the min value

9
1

In [68]:
## APPEND FUNCTION

In [75]:
lst = ["Data","Science"]
lst.append("Masters") # adds the element and updates the list (in place operation)
print(lst)

['Data', 'Science', 'Masters']

In [74]:
lst = ["Data","Science","Masters"]
lst.pop() # removes the last element and updates the list (in place operation)
print(lst)

['Data', 'Science']

In [76]:
lst = ["Data","Science","Masters"]
lst.pop(1) # removes the element at index 1 and updates the list
print(lst)

['Data', 'Masters']

In [78]:
lst = ["Data","Science","Masters"]
removed_element = lst.pop(0) # returns removed element
print(removed_element)

Data

In [80]:
lst = ["Data","Science","Masters"]
lst[100] # will give Index Error

IndexError: list index out of range

In [82]:
lst = ["q","e","f","s","t","u"]
lst[::-1] # reverses the list

['u', 't', 's', 'f', 'e', 'q']

In [83]:
lst = ["q","e","f","s","t","u"]
lst.reverse() # reverses the list and updates it (in place operation)
print(lst)

['u', 't', 's', 'f', 'e', 'q']

In [85]:
lst = ["q","e","f","s","t","u"]
lst.sort() # sorts (ascending order) the list and updates it (in place operation)
print(lst)

['e', 'f', 'q', 's', 't', 'u']

In [90]:
lst = ["q","e","f","s","t","u"]
lst.sort(reverse = True) # sorts (descending order) the list and updates it (in place operation)
print(lst)

['u', 't', 's', 'q', 'f', 'e']

In [88]:
# To add multi nested list to a list, use append
lst = ["Data", "Science"]
lst.append(["Masters", "Class"])
print(lst)

['Data', 'Science', ['Masters', 'Class']]

In [89]:
# To add more than one element to a list (without multi nesting), use extend
lst = ["Data", "Science"]
lst.extend(["Masters", "Class"])
print(lst)

['Data', 'Science', 'Masters', 'Class']

# NESTED LIST

In [91]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = [7,8,9]

# Make a list of list to form a matrix
matrix = [lst1,lst2,lst3]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [92]:
# return 6 from the created matrix
matrix [1][2] # matrix[1] = [4,5,6] and [2] of it contains 6

6

In [93]:
# return 8 and 9 from matrix
matrix [2][1:]

[8, 9]

# List Comprehension

In [101]:
[i for i in range(20)] # creates a list having numbers from 0 to 20-1 (19)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [100]:
[i for i in range (2,20)] # creates a list having numbers from 2 to 20-1 (19)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [104]:
# To print even numbers from 1 to 9 and blank space for odd numbers
[i if i%2 == 0 else " " for i in range(1,10)]

[' ', 2, ' ', 4, ' ', 6, ' ', 8, ' ']

In [106]:
lst = [1,2,3,4,5,6,7,8]
# Find sum of even numbers and even numbers from the above list

sum_even = 0
sum_odd = 0
for i in lst:
    if (i%2==0):
        sum_even = sum_even+i
    else:
        sum_odd = sum_odd+i
print(f"Sum of even numbers = {sum_even}")
print(f"Sum of even numbers = {sum_odd}")

Sum of even numbers = 20
Sum of even numbers = 16

In [108]:
lst = [1,2,3,4,5,6,7,8]
# Find sum of even numbers and even numbers from the above list using List Comprehension

sum_even = sum([num for num in lst if num%2 == 0]) # sum() finds sum
sum_odd = sum([num for num in lst if num%2 !=0])
print(f"Sum of even numbers = {sum_even}")
print(f"Sum of even numbers = {sum_odd}")

Sum of even numbers = 20
Sum of even numbers = 16

In [111]:
lst = [1,2,3,4,5,6,7,8,9,10]
# Find squares of all the numbers using List Comprehension

[num**2 for num in lst] # **2 means number to the power of 2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [112]:
lst = [-2,-1,0,1,2,3,4]
# Create a list of positive numbers from the list

[num for num in lst if num>0]

[1, 2, 3, 4]

In [113]:
lst = ["apple","banana","cherry","date"]
# Create a list of only first letters of the words in the list

[word[0] for word in lst]

['a', 'b', 'c', 'd']

In [115]:
temp_celcius = [0,10,20,30,40,50]
# Convert the temperatures in celcius given in list to farenheit

[(temp_farenheit*9/5)+32 for temp_farenheit in temp_celcius]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [117]:
lst = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# flatten the above list of lists into a single list

[num for sublist in lst for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
# ASSIGNMENT 1
# Given numbers = [1,2,3,4,5,6,7,8,9,10]
# Create a list of all prime numbers from the list (using Code and List Comprehension)

In [134]:
# ANSWER TO ASSIGNMENT 1 (USING CODE) -

numbers = [1,2,3,4,5,6,7,8,9,10]
prime_list = []
for prime in numbers:
    if (prime > 1 and all(prime % y !=0 for y in range(2,prime))):
        prime_list=prime_list+[prime]
print(prime_list)

[2, 3, 5, 7]

In [130]:
# ANSWER TO ASSIGNMENT 1 (USING LIST COMPREHENSION) -

numbers = [1,2,3,4,5,6,7,8,9,10]
prime_list = [prime for prime in numbers if prime !=1 and all(prime % y !=0 for y in range(2,prime))]
print(prime_list)

[2, 3, 5, 7]

In [137]:
# ASSIGNMENT 2
# Given numbers = [1,2,3,5,]
# Create a list of all the possible combinations of 2 elements from the list (using Code and List Comprehension)

In [151]:
# ANSWER TO ASSIGNMENT 2 (USING CODE) -

numbers = [1,2,3,4,5]
combinations = []
for a in range(1,len(numbers)):
    for b in range(a+1,len(numbers)+1):
        combinations.append([a,b])
print(combinations)

[[1, 2], [1, 3], [1, 4], [1, 5], [2, 3], [2, 4], [2, 5], [3, 4], [3, 5], [4, 5]]

In [150]:
# ANSWER TO ASSIGNMENT 2 (USING LIST COMPREHENSION) -

numbers = [1,2,3,4,5]
combinations = [[a,b] for a in range(1,len(numbers)) for b in range(a+1,len(numbers)+1)]
print(combinations)

[[1, 2], [1, 3], [1, 4], [1, 5], [2, 3], [2, 4], [2, 5], [3, 4], [3, 5], [4, 5]]