# DSM Class 3rd Feb, 2023
## Quick Coding Notes
### Written by: Anshuman Rath

# FUNCTIONS

In [13]:
def test():  # creates (defines) a function
    print("Hello")

In [7]:
test()  # when you call the function it executes whatever you have written with it

Hello all

In [14]:
test() + " Anshuman"  # gives an error, signifying that you can't concatenate this function with a string
# this is because we have only written print() command with the function, and print() returns NoneType
# NoneType and string concatenation is not possible

Hello

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [15]:
def test2():
    return "Hello"

In [17]:
test2() + " Anshuman "  # this time it will work because the function we created returns a string value

'Hello Anshuman '

In [18]:
def test3():
    return 1, 2, "PW Skills", 3.5

In [20]:
type(test3())  # the function returns a tuple

tuple

In [23]:
# You can also assign values to variables in the following way -
a,b,c,d = 1,"Hello",2.5,True
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = {d}")

a = 1
b = Hello
c = 2.5
d = True

In [24]:
def test3():
    return 1, 2, "PW Skills", 3.5

In [25]:
# Since test3() will return a tuple, we can do everything to this function like we do for a tuple
# For example -
test3()[0]  # to assess element at 0th index

1

In [26]:
a,b,c,d = test3()  # the variables will hold values in sequential manner
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = {d}")

a = 1
b = 2
c = PW Skills
d = 3.5

In [27]:
def test4():
    a = 3*4+5
    return a

In [28]:
test4()

17

In [29]:
type(test4())

int

In [30]:
def test5(a,b):  # to pass data to this function
    c = a+b;
    return c

In [31]:
test5(5,7)

12

In [35]:
test5("Anshuman","Rath")

'AnshumanRath'

In [39]:
test5(b = "Rath", a = "Anshuman")

'AnshumanRath'

In [41]:
# Create a function that filters out only numeric values (from the list given as input)

def test6(a):
    n = []
    for i in a:
        if type(i) == int or type (i) == float:
            n.append(i)
    return n

In [42]:
test6([1,2,"Anshuman",3.5,"Rath"])

[1, 2, 3.5]

In [52]:
# Create a function that filters out numeric values from list containing another list
# Example list = [1,2,3,4,"Anshuman","Rath",[5,6,7,8, "Hello", 9], 10.5]

def test7(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [53]:
test7([1,2,3,4,"Anshuman","Rath",[5,6,7,8, "Hello", 9], 10.5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10.5]

In [61]:
def test1(*args):  # allows you to pass any number and any type of arguments
    return args

In [55]:
test1(2)

(2,)

In [57]:
test1(3,4,5,6)

(3, 4, 5, 6)

In [59]:
test1("Anshuman")

('Anshuman',)

In [60]:
test1([1,2,3,4],(5,6,7,8),{9,10,11,12},"Hello",13,14,15.5)

([1, 2, 3, 4], (5, 6, 7, 8), {9, 10, 11, 12}, 'Hello', 13, 14, 15.5)

In [63]:
# However args isn't a keyword
# Hence you are free to write anything instead of args

def test2(*anshuman):
    return anshuman

In [64]:
test2(3,4,5)

(3, 4, 5)

In [65]:
def test3(*args,a):
    return args,a

In [67]:
test3(1,2,3,4, a = "hello")  # to pass input to a

((1, 2, 3, 4), 'hello')

In [69]:
# Define a function which accepts any kind of input but returns only list (from the data)

def test4(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [70]:
test4(1,2,3, [4,5,6], (7,8,9), {10,11,12}, "Hello")

[[4, 5, 6]]

In [71]:
def test5(**kvargs): # to accept key value arguments
    return kvargs

In [74]:
test5(a = 10, b = 20, c = {1,2,3,4}, d = {"Hello", "Everyone"})
# will return the above data in the form of a dictionary

{'a': 10, 'b': 20, 'c': {1, 2, 3, 4}, 'd': {'Everyone', 'Hello'}}

In [79]:
# Define a function that accepts key value pairs and returns only those key value pairs where value is a list

def test6(**kvargs):
    for i in kvargs.keys():
        if type(kvargs[i]) == list:
            return i, kvargs[i]

In [81]:
test6(a = 10, b = 20, c = [30,40,50], d = ("Data Science", "Web Development"))

('c', [30, 40, 50])

In [83]:
def test7(*args, **kvargs):
    return args , kvargs

In [84]:
test7(1,2,3,4, a = 10, b = 20)

((1, 2, 3, 4), {'a': 10, 'b': 20})

# GENERATOR FUNCTIONS

In [88]:
# yield helps to create generator functions
# A generator is a function that returns an iterator that produces a sequence of values when iterated over. 
# Generators are useful when we want to produce a large sequence of values, but we don't want to store all of them in memory at once.

In [117]:
# define a generator function that generates fibonacci series

def test_fib(n):
    a = 0
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [118]:
test_fib(10)
# when we call this function, it retuns generator object

In [119]:
# to take out data from generator function, use for loop
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34