# DSM Class 2nd Feb, 2023
## Quick Coding Notes
### Written by: Anshuman Rath

# TUPLE

In [3]:
t = (1,2,3,4,5+6j,"Anshu",True) # Tuple is enclosed within round brackets
type(t) # returns type of t

tuple

In [4]:
t = (1,2,3,4,5+6j,"Anshu",True)
t[0] # extracts the element in the specified index

1

In [5]:
t = (1,2,3,4,5+6j,"Anshu",True)
t[::-1] # extracts elements in reverse

(True, 'Anshu', (5+6j), 4, 3, 2, 1)

In [7]:
t = (True, 'Anshu', (5+6j), 4, 3, 2, 1)
# extract elements from True till (5+6j)
t[0:3:1]

(True, 'Anshu', (5+6j))

In [8]:
t = (True, 'Anshu', (5+6j), 4, 4, 3, 4, 2, 3, 1)
t.count(4) # Returns number of occurrences of value

3

In [11]:
t = (True, 'Anshu', (5+6j), 4, 4, 3, 4, 2, 3, 1)
t.index(4) # Returns first index of value

3

In [12]:
t = (True, 'Anshu', (5+6j), 4, 4, 3, 4, 2, 3, 1)
t.index(1) # Returns first index of value and here it considers 1 = True

0

In [14]:
t = (True, 'Anshu', (5+6j), 4, 4, 3, 4, 2, 3, 1)
t.count(1) # Returns number of occurrences of value and here it considers even True as 1

2

In [17]:
lst = [1,2,3,4]
tup = (1,2,3,4)

In [19]:
# if we want to replace element at Index 0 of lst (which is 1) with 5
lst[0] = 5
print (lst)
# Since lists are mutable, this is achievable

[5, 2, 3, 4]

In [20]:
# if we want to replace element at Index 0 of tup (which is 1) with 5
tup[0] = 5
print(tup)
# Since tuples are immutable, this will give an error

TypeError: 'tuple' object does not support item assignment

In [21]:
# Lists are mutable while Tuples are not mutable

In [1]:
# Iterating through tuples

tup = (1,2,3,4)
for i in tup:
    print(i)

1
2
3
4

In [3]:
t2 = (1,2,3,4)
t2 * 3 # repeats the tuple for 3 times

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [4]:
min(t2) # returns minimum value

1

In [5]:
max(t2) # returns maximum value

4

In [7]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t3 = t1+t2 # creates tuples inside a tuple
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [8]:
# A tuple can have lists as well
# Example ->
t4 = ((1,2,3),[4,5,6])
print(t4)

((1, 2, 3), [4, 5, 6])

In [9]:
del t4 # deletes the tuple
print(t4) # produces an error as you have deleted t4 above

NameError: name 't4' is not defined

In [10]:
t1 = (1,2,3,4)
len (t1) # gives number of elements inside a tuple

4

In [11]:
t1 = (1,2,3,4,5,6)
1 in t1  # checks whether the specified element exists inside the tuple or not

True

In [12]:
7 in t1

False

# SET

In [20]:
s = {1,2,3,4}   # Sets are enclosed within curly braces
type (s)

set

In [16]:
s2 = {1,1,12,3,3,4,5,5,5,6}
print (s2) # removes duplicates while displaying the set

{1, 3, 4, 5, 6, 12}

In [17]:
list(s2)  # converts the set into list

[1, 3, 4, 5, 6, 12]

In [18]:
tuple (s2)  # converts the set into tuple

(1, 3, 4, 5, 6, 12)

In [19]:
list1 = [1,2,3,4]
set1 = set(list1) # converts the list into set
print(set1)

{1, 2, 3, 4}

In [22]:
set1 = {1,2,3,4,[1,2,3,4]}
print(set1)
# a set cannot store a list

TypeError: unhashable type: 'list'

In [24]:
set1 = {1,2,3,4,(1,2,3,4)}
print(set1)
# a set can store a tuple

{(1, 2, 3, 4), 1, 2, 3, 4}

In [26]:
set2 = {1,2,3,4}
set2[1]  # indexing doesn't work with sets

TypeError: 'set' object is not subscriptable

In [27]:
set2 = {1,2,3,4}
set2[::-1]
# slicing doesn't work with sets

TypeError: 'set' object is not subscriptable

In [33]:
set2 = {1,2,3,4}
for i in set2:
    print(i)  # you can iterate through a set

1
2
3
4

In [5]:
set2 = {1,2,3,4}
set2.add(34) # to add elements to the set and update it
print(set2)

{1, 2, 3, 4, 34}

In [7]:
set2.add(3)
print(set2) # if a set already has the element, specified in add(), it won't add the same element

{1, 2, 3, 4, 34}

In [8]:
# SET always tries to maintain a uniqueness of elements

In [9]:
set2 = {1,2,3,4}
len(set2) # counts number of elements in the set

4

In [13]:
set2 = {1,2,3,4}
print(f"Removed element = {set2.pop()}") # removes an element from the set and updates it
print(f"Updated set = {set2}")

Removed element = 1
Updated set = {2, 3, 4}

In [14]:
set2 = {1,2,3,4}
set2.clear() # removes all elements from the set
print(set2)

set()

In [18]:
set2 = {1,2,3,4,6}
set3 = {1,2,3,5}
set2.difference(set3) # returns the elements present in set2 but missing in set3

{4, 6}

In [19]:
set2 = {1,2,3,4,6}
set3 = {1,2,3,5}
set3.difference(set2) # returns the elements present in set3 but missing in set2

{5}

# DICTIONARIES

In [21]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
# dictionary contains a key and value (eg. Anshu is the value for the key Name)
# key value pair is separated by a comma
print(type(d)) # returns the data type
print(d)

<class 'dict'>
{'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234}

In [22]:
d2 = {"Name" : "Anshu", "Name" : "Anshuman"}
# when you use another key with the same name as already used, the key gets updated with the new value
print(d2)

{'Name': 'Anshuman'}

In [29]:
# key/value can be a string, number, decimal, boolean, etc

In [28]:
d = {[1,2,3] : "abc"}
# key cannot be a list (as list is unhashable)
print(d)

TypeError: unhashable type: 'list'

In [31]:
d = {(1,2,3): "abc"}
# key can be a tuple
print(d)

{(1, 2, 3): 'abc'}

In [35]:
d = {{1,2,3}: "abc"}
# key cannot be a set (as set is unhashable)
print(d)

TypeError: unhashable type: 'set'

In [38]:
d = {{"dataset" : 123} : "abc"}
# key cannot be a dictionary (as dictionary is unhashable)
print(d)

TypeError: unhashable type: 'dict'

In [39]:
# SUMMARIZING -
# key can be a tuple
# key can NOT be a list, set or dictionary

In [41]:
d = {"abc" : [1,2,3]}
# however value can be a list
print(d)

{'abc': [1, 2, 3]}

In [43]:
d = {"abc" : (1,2,3)}
# value can be a tuple
print(d)

{'abc': (1, 2, 3)}

In [44]:
d = {"abc" : {1,2,3}}
# value can be a set
print(d)

{'abc': {1, 2, 3}}

In [61]:
d = {"abc" : {"numbers" : 123}}
# value can be a dictionary
print(d)

{'abc': {'numbers': 123}}

In [47]:
# SUMMARIZING -
# value can be a list, set or dictionary

In [51]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
d["Country"] = "India"  # to add new entry and update the dictionary
print(d)

{'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234, 'Country': 'India'}

In [53]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
d["Name"]  # returns the value stored with the specified key

'Anshu'

In [54]:
d["email"]

'xyz@gmail.com'

In [57]:
d["State"]
# produces an error since the specified key is missing in the dictionary

KeyError: 'State'

In [60]:
d["Name"].upper()  # returns the value stored in the key and converts it to Upper Case

'ANSHU'

In [64]:
d = {"abc" : {"num_1" : 123, "num_2" : 456}}
d["abc"]["num_2"] # accessing value stored in a dictionary within a dictionary

456

In [65]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
del d["Ph No"] # deletes the key value pair and updates it
print(d)

{'Name': 'Anshu', 'email': 'xyz@gmail.com'}

In [66]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
d.clear() # clears out the entire dictionary
print(d)

{}

In [68]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
len (d) # returns no. of key value pairs

3

In [69]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
d.keys()  # to return available values keys

dict_keys(['Name', 'email', 'Ph No'])

In [70]:
d.values()  # to return avaialble values

dict_values(['Anshu', 'xyz@gmail.com', 1234])

In [72]:
list(d.values())  # to return values in a list

['Anshu', 'xyz@gmail.com', 1234]

In [73]:
list(d.keys())  # to return keys in a list

['Name', 'email', 'Ph No']

In [75]:
d.items() # returns key value pairs

dict_items([('Name', 'Anshu'), ('email', 'xyz@gmail.com'), ('Ph No', 1234)])

In [77]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
d1 = d.copy()  # copies data (deep copy)
print(d1)

{'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234}

In [79]:
d = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
d1 = d.copy()  # copies data (but not deep copy)
print(d1)

{'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234}

In [83]:
# Difference between deep copy and shallow copy

data = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
data_copy = data.copy() # deep copy (does not get affected even if original data is changed)
data_copy2 = data  # shallow copy (gets affected if original data is changed)

del data["Ph No"]
print(data_copy)  
print(data_copy2)  # since original data is changed, it will return the changed data

{'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234}
{'Name': 'Anshu', 'email': 'xyz@gmail.com'}

In [82]:
# Deep copy reserves a new space hence it doesn't get affected even when the original data is modified later

In [84]:
data = {"Name" : "Anshu", "email" : "xyz@gmail.com", "Ph No" : 1234}
data.pop("email")  # removes specified key and return the corresponding value

'xyz@gmail.com'

In [85]:
print(data)

{'Name': 'Anshu', 'Ph No': 1234}

In [90]:
data.fromkeys((1,2,3) , ("a","b","c")) # Creates a new dictionary with keys from iterable and values set to value

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [91]:
data1 = {"Name" : "Anshu", "email" : "xyz@gmail.com"}
data2 = {"Ph No" : 1234, "Country" : "India"}
print((data1,data2))  # dictionaries can be placed inside a Tuple

({'Name': 'Anshu', 'email': 'xyz@gmail.com'}, {'Ph No': 1234, 'Country': 'India'})

In [92]:
data1 = {"Name" : "Anshu", "email" : "xyz@gmail.com"}
data2 = {"Ph No" : 1234, "Country" : "India"}
data1.update(data2)  # updates data1 by adding entries from data2
print(data1)
print(data2)

{'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234, 'Country': 'India'}
{'Ph No': 1234, 'Country': 'India'}

In [94]:
data = {'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234, 'Country': 'India'}
data.get("email")  # returns value of the specified key

'xyz@gmail.com'

# DICTIONARY COMPREHENSIONS

In [99]:
# Lets create a dictionary having keys 1 to 10 and values as the square of keys

{k : k**2 for k in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [100]:
# Create a dictionary having keys 1 to 10 and values as log of keys

import math
{k : math.log10(k) for k in range(1,11)}

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [103]:
data = {'Name': 'Anshu', 'email': 'xyz@gmail.com', 'Ph No': 1234, 'Country': 'India'}
"Name" in data  # checks if the key is present in the dictionary

True

In [106]:
'''
Given Data = 
 1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0

Filter out those values whose keys are in even
'''

data = {1: 0.0, 2: 0.3010299956639812, 3: 0.47712125471966244, 4: 0.6020599913279624, 5: 0.6989700043360189, 6: 0.7781512503836436, 7: 0.8450980400142568, 8: 0.9030899869919435, 9: 0.9542425094393249, 10: 1.0}
for i in data.keys():
    if i % 2 == 0:
        print(data[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0