# DSM Class 4th Feb, 2023
## Quick Coding Notes
### Written by: Anshuman Rath

# LAMBDA FUNCTIONS

In [2]:
def test(n,p):
    return n**p

In [3]:
test(3,2)

9

In [17]:
# lambda function is a short hand of the function
a = lambda n,p : n**p

In [8]:
a(3,2)

9

In [9]:
add = lambda x,y : x+y

In [10]:
add(5,10)

15

In [11]:
celcius_to_farenheit = lambda c : (9/5)*c+32

In [12]:
celcius_to_farenheit(100)

212.0

In [14]:
max_two = lambda x,y : x if x>y else y

In [15]:
max_two(3,7)

7

In [18]:
max_two(100,102)

102

# MAP, REDUCE, FILTER FUNCTIONS

In [22]:
# create a function that takes list as an input and produces the list of squares as output

def list_sq(lst):
    return [i**2 for i in lst]

In [23]:
print(list_sq([2,4,6]))

[4, 16, 36]

## MAP FUNCTION

In [36]:
# Map function makes an iterator that computes the function using arguments from each of the iterables.  
# It stops when the shortest iterable is exhausted.
# MAP Function is a short hand function.

In [26]:
lst = [1,2,3,4]
def square_num(x):
    return x ** 2

map (square_num, lst)

In [28]:
# To get data from map function
list(map(square_num, lst))

[1, 4, 9, 16]

In [29]:
'''
def square_num(x):
    return x ** 2

map (square_num, lst)

CAN ALSO BE SHORTENED USING LAMBDA FUNCTION
'''

lst = [1,2,3,4]
list(map(lambda x : x**2, lst))

[1, 4, 9, 16]

In [30]:
# Given two lists - [1,2,3,4] [6,7,8,9]
# Add elements with same indexes

list1 = [1,2,3,4]
list2 = [5,6,7,8]
list(map(lambda x,y :x+y, list1, list2))

[6, 8, 10, 12]

In [31]:
# Also you can declare lambda function with a variable and call the variable in the map()

f = lambda x,y : x+y
list(map(f, list1, list2))

[6, 8, 10, 12]

In [32]:
# Accept a string and return the characters (in upper case) in a list

string = "hello"
list(map(lambda uc : uc.upper(), string))

['H', 'E', 'L', 'L', 'O']

## REDUCE FUNCTION

In [33]:
# you will need to import reduce function
from functools import reduce

In [51]:
lst = [1,2,3,4,5]
# find summation of the list

'''
Reduce function -  
Applies a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.
'''

reduce(lambda x,y : x+y, lst)

15

In [52]:
lst = [1,4,7,3,10,9]
# find maximum from the list

reduce(lambda x,y : x if x>y else y, lst)

10

## FILTER FUNCTION

In [59]:
# Filter function returns an iterator yielding those items of iterable for which function(item) is true

In [60]:
lst = [1,2,3,4,5]
# filter out even numbers

list(filter(lambda x : x%2 ==0, lst))

[2, 4]

In [61]:
# filter out odd numbers

list(filter(lambda x : x%2 != 0, lst))

[1, 3, 5]

In [62]:
lst1 = [1,2,3,-9,-8,7]
# filter out positive numbers

list(filter(lambda x : x > 0, lst1))

[1, 2, 3, 7]

In [63]:
# filter out negative numbers

list(filter(lambda x : x < 0, lst1))

[-9, -8]

In [65]:
lst2 = ["Anshuman", "Rath", "India", "DSM"]
# filter out those strings having length < 6

list(filter(lambda x : len(x) < 6, lst2))

['Rath', 'India', 'DSM']